window {
	font-family: BlexMono Nerd Font;
	margin: 0px;
	border: 1px solid #f9af4f;
	background-color: #0b0e14;
}

#input {
	margin: 5px;
	border: none;
	color: #839496;
	background-color: #1e232b;
}

#inner-box {
	margin: 5px;
	border: none;
	background-color: #0b0e14;
}

#outer-box {
	margin: 5px;
	border: none;
	background-color: #0b0e14;
}

#scroll {
	margin: 0px;
	border: none;
}

#text {
	margin: 5px;
	border: none;
	color: #bfbdb6;
}

#entry:selected {
	background-color: #1b325b;
}